.Header {
  position: static;
  width: 100%;
  /* height: 56px; */
  box-sizing: border-box;
}

.btn {
  /* width: 25%; */
  padding: 0 10px;
  margin: auto;
}

.me-2 {
  display: flex !important;
  align-items: center;
  width: 50% !important;
}
.searchInput {
  border: none;
  width: 100% !important;
}

.nav-item {
  font-weight: bold;
}

.jwpIcon {
  max-height: 36px;
}

.container-fluid {
  padding: 10px 64px;
}
